<html>

<head>
    <link rel="stylesheet" type="text/css" href="../style/screen_styles.css" />
    <link rel="stylesheet" type="text/css" href="../style/responsive.css" />
</head>


<body>


<nav id="menu">

<ul>
<li><a href="http://www.electronicarts.coffeecup.com/">Home</a></li>
<li><a href="http://www.electronicarts.coffeecup.com/ea.html">Electronic Arts</a></li>
<li><a href="http://www.electronicarts.coffeecup.com/sitemap.htm">Site Map</a></li>
<li><a href="http://www.electronicarts.coffeecup.com/contact.html">Contact</a></li>
<li><a href="#page" class="go-top">Go Top</a></li>
</ul>

</nav>

<div style="width:500px; margin:0 auto;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quod ducimus, autem qui? Tenetur magnam vitae, quo dicta nulla accusamus adipisci ad sapiente recusandae, ipsum ea esse minus libero animi inventore neque qui. Dolor sapiente sequi harum sit nulla, neque. Dicta mollitia voluptas ad minus, rerum voluptate eum natus assumenda odit similique, esse aliquam distinctio! Repudiandae porro, quam deserunt possimus cupiditate ipsam. Sit nobis nemo doloribus est, corporis dignissimos itaque necessitatibus amet molestias, beatae tenetur a, quasi. Ex consequuntur, velit qui quas accusamus sed vero mollitia sunt, commodi in facilis quo asperiores earum, veniam totam, optio nulla minima suscipit incidunt.
</div>

<br>
<br>
<br>

<div style="width:500px; margin:0 auto;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quod ducimus, autem qui? Tenetur magnam vitae, quo dicta nulla accusamus adipisci ad sapiente recusandae, ipsum ea esse minus libero animi inventore neque qui. Dolor sapiente sequi harum sit nulla, neque. Dicta mollitia voluptas ad minus, rerum voluptate eum natus assumenda odit similique, esse aliquam distinctio! Repudiandae porro, quam deserunt possimus cupiditate ipsam. Sit nobis nemo doloribus est, corporis dignissimos itaque necessitatibus amet molestias, beatae tenetur a, quasi. Ex consequuntur, velit qui quas accusamus sed vero mollitia sunt, commodi in facilis quo asperiores earum, veniam totam, optio nulla minima suscipit incidunt.
</div>

<br>
<br>
<br>

<div style="width:500px; margin:0 auto;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quod ducimus, autem qui? Tenetur magnam vitae, quo dicta nulla accusamus adipisci ad sapiente recusandae, ipsum ea esse minus libero animi inventore neque qui. Dolor sapiente sequi harum sit nulla, neque. Dicta mollitia voluptas ad minus, rerum voluptate eum natus assumenda odit similique, esse aliquam distinctio! Repudiandae porro, quam deserunt possimus cupiditate ipsam. Sit nobis nemo doloribus est, corporis dignissimos itaque necessitatibus amet molestias, beatae tenetur a, quasi. Ex consequuntur, velit qui quas accusamus sed vero mollitia sunt, commodi in facilis quo asperiores earum, veniam totam, optio nulla minima suscipit incidunt.
</div>

<br>
<br>
<br>

<div style="width:500px; margin:0 auto;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quod ducimus, autem qui? Tenetur magnam vitae, quo dicta nulla accusamus adipisci ad sapiente recusandae, ipsum ea esse minus libero animi inventore neque qui. Dolor sapiente sequi harum sit nulla, neque. Dicta mollitia voluptas ad minus, rerum voluptate eum natus assumenda odit similique, esse aliquam distinctio! Repudiandae porro, quam deserunt possimus cupiditate ipsam. Sit nobis nemo doloribus est, corporis dignissimos itaque necessitatibus amet molestias, beatae tenetur a, quasi. Ex consequuntur, velit qui quas accusamus sed vero mollitia sunt, commodi in facilis quo asperiores earum, veniam totam, optio nulla minima suscipit incidunt.
</div>

</body>

</html>